h1 {
    color: gold;
}
.text-box {
    border: 8px solid saddlebrown;
    padding: 6px;
    width: 70%;
    text-align: center;
}
img{
    float: left;
    width: 30em;
    margin-right: 2em;
}
body {
    background-color: black;
    font-color: white;
    background-image: download.jpeg;
}
.sidebar {
    color : white;
}
.welcome {
    color: white;
}